
body{
  font-family: monospace;
  margin:unset;
  top:0;
  left:0;
  width:100%;
  display:flex;
  justify-content:space-between;
  flex-direction:column;
  align-items:center;
  padding:unset;
  background-color: rgba(0, 0, 0, 0.15);
}

.painel-principal{
  width:90%;
}
.cabecalho{
  width:100%;
}

.corpo{
  margin:50;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width:100%;
  height:fit-content;
}


.bar{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items:center;
  margin:unset;
  width:100%;
}
.bar form{
  width:100%;
}

.bar-box{
  display:flex;
  flex-direction:row;
  align-items:center;
  background: #5f3a97;
  height: fit-content;
  width: 100%;
  padding:10 0 10 0;
  justify-content:space-between;
}

.headerbuttons{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  padding:0 10 0 0;
}

.headerbuttons a, .headerbuttons form{
  margin:3;
}
.headerbuttons button{
  background-color:unset;
  border:unset;
  color:#e5734a;
  font-size:17px;
  font-family:monospace;
  font-weight:100;
  border:unset;
  wrap
}


.buttons {
  margin:10;
  list-style-type:unset;
  font-size:17px;
  padding: 5px 8px 5px 8px; 
  text-decoration:unset;
  font-family:monospace;
  font-weight:100;
  background-color: #ae78ff6b;
  border:unset;
  border-radius: 10px;
  color:#e5734a;
}

.buttons:hover{
  background-color:#e48b7185;
}

ul {
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  list-style-type: none;
  margin: 0;
  padding:5 0 5 0;
  overflow: hidden;
  background-color: #7949c1;
  width:100%;
}

.bar li button {
  background-color: unset;
  border: unset;
  display: block;
  color: #ff734a;
  text-align: center;
  font-family:monospace;
  font-size:18;
  font-weight:100;
  padding: 6px 20px;
  text-decoration: none;
}

.bar li button:hover {
  cursor: pointer;
  background-color:#b088eb8a;
  transform: scale(1.1);
}

#img1 {
  position:relative;
  margin:unset;
  z-index: 1;
  width:219px;
  height:70px;
}


#img2{
  z-index: 1;
  width:20px;
  height:20px;
  }
  


.painel-principal h1{
  width:fit-content;
  font-size:35;
  font-weight:100;
  color:#5f3a97;
  margin:0 0 0 0;
}
 

#cdt {
    background-color:#5f3a97;
    border-radius:15px;
    width:300;
    height:fit-content;
  padding: 10 10 10 10;
     display:flex;
  flex-direction:column;
  text-align:center;
  justify-content:space-around;
  align-items:center;
}

h1{
  font-size:35;
  font-weight:400;
  font-family:monospace;
  width:fit-content;
  height:fit-content;
  border-bottom:3px solid #ff734a;
  color:#ff734a;
  margin:unset;
}

#lgn{
  background-color:#5f3a97;
  border-radius:15px;
  width:300;
  height:fit-content;
  padding: 10 10 10 10;
  display:flex;
  flex-direction:column;
  text-align:center;
  justify-content:space-around;
  align-items:center;
}


h3{
    position:relative;
    left:auto;
    color:#ff9473;
    font-size: 0px;
}

.corpo form{
  padding:40 0 0 0;
}


input {
  position:relative;
  z-index:1;
  border:none;
  border-bottom: 2px solid #ff734a;
  height:40px;
  width:280;
  background-color:#ffa16c00;
  color:#ff734a;
  text-align:left;
  font-size:16px;
}

input::placeholder{
  padding:7;
  color:#e9734a9e;
  text-transform:capitalize;
  text-align:left;
}


input:focus{
  outline:none;
}

#senha::placeholder{
  background:url(passwordicon.png) no-repeat center left; 
}

#email::placeholder{
  background:url(at.png) no-repeat center left;
  background-size:25px 25px;
}

#senha:focus::placeholder,#email:focus::placeholder{
  background:unset; 
}

#bt6 {   
  border:0;
}

.flashdiv{
  margin:0;
  width:100%;
  font-size:22px;
  list-style-type:none;
  color: snow;

}

.flashdiv li{
  margin:0;
  width:100%;
  text-align:center;
}

#rodape{
  font-size:14px;
  color:white;
  padding:15 0 15 0;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  align-items:center;
  background: #5f3a97;
  width: inherit;
}
#rodape .esquerda, #rodape .meio,#rodape .direita{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:left;
}

.nomerodape, .enderecorodape, .cnpjrodape, .emailrodape, .contatorodape{
  margin:5;
}

.subir{
  font-family:initial;
  color:#ff734a;  
  font-size:30px;
  font-weight:900;
  padding:9 12 0 12px;
  border-radius:15px;
  background-color:#47109bad
}

.subir:hover{
  cursor:pointer;
  color:#5f3a97;
  background-color:#ff734a;
  
}