body {

  background-color: rgba(241, 190, 137, 0.92);
}

#butoes {

  background: #5f3a97;
  position: fixed;
  left: -0.6%;
  top: -0.1cm;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 5px;
  font-size: 9px;
  height: 70px;
  width: 101.2%;
  text-transform: uppercase ;
}
#bt2{
 position:relative;
 left:87.5%;
}

#bt1{
 position:relative;
 left:88%;
}

#bt3{
position:absolute;
top:34%;
left:90.6%;
height:30px;
width:94px;
}

#bt4{
position:absolute;
top:34%;
left:88%;
height:30px;
width:30px;
}


#bt5{
  position:absolute;
  top:34%;
  left:76.8%;
  height:30px;
  width:110px;
  }

#bt6{
  position: relative;
  top:94%;
  left:84.5%;
  height:30px;
  width:autopx
  }

#bt2, #bt1 {

   position: relative;
   top: 35%;
   height: 25px;
}

#bt2:hover,#bt1:hover,#bt3:hover,#bt4:hover,#bt5:hover, #bt6:hover {
background-color:#e48b71;
}

button {
  
  border: 3px solid transparent;
  background-color: #ae79fd;
  border-radius: 10px;
}



/* #bt2 {
  border: 2px solid rgb(108, 108, 108);
  background-color: rgb(108, 108, 108);
  border-radius: 50px;
} */

ul {
  position:fixed;
  height:30;
  width:101%;
  top:56;
  left:-18;
  list-style-type: none;
  margin: 10;
  padding: 0 0 0 0px;
  overflow: hidden;
  background-color: #7949c1;
}

li {
  float: left;
  position:relative;
  left:20%;
}

li a {
  display: block;
  color: #ff734a;
  text-align: center;
  padding: 6px 20px;
  text-decoration: none;
}

li a:hover {
  background-color:#b088ebc7;
  
}

#img1 {
  position:fixed;
  z-index: 1;
  top:0.5%;
  width:219px;
  height:58;
}

#img2{
position: fixed;
z-index: 1;
top:3.2%;
left:88.8%;
width:20px;
height:20px;
}

.ofertas{
background-color:#e472509e;
z-index:3;
position:relative;
top:110px;
width:100%;
height:50%;
text-align:center;
font-size:600%;

}

.recem-adicionados{
background-color:#96503b;
z-index:4;
position:relative;
top:130px;
width:100%;
height:32%;
text-align:center;
font-size:600%;

}