body {
    background-color: black;
}
 .butaocadastrar {
    background: #393939;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 5px;
    font-size: 9px;
    height: 30px;
    line-height: 30px;
    padding: 0px 20px 0px 20px;
    text-transform: uppercase 
}

.botton1 {
    background-color:teal ;
}
