body {
    background-color: rgba(21, 138, 188, 0.92);
}

#butoes {
    background: #393939;
    position: fixed;
    left: -0.6%;
    top: -0.2cm;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 5px;
    font-size: 9px;
    height: 50px;
    width: 101.2%;
    text-transform: uppercase ;
}

#btn1{
    position: relative;
    left: 88%;
    top: 20%;
    height: 25px;
    border: 2px solid rgb(108, 108, 108);
    background-color: rgb(108, 108, 108);
    border-radius: 50px;
}
#btn2 {
    position: relative;
    left: 87.6%;
    top: 20%;
    height: 25px;
    border: 2px solid rgb(108, 108, 108);
    background-color: rgb(108, 108, 108);
    border-radius: 50px;
}