body {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:start;
  font-family:monospace;
  top:0;
  left:0;
  margin:unset;
  width:100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.15);
}

.corpo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width:100%;
  height:fit-content;
}

.bar{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items:center;
  margin:unset;
  width:100%;
  background-color:;
}
.bar form{
  width:100%;
}

.bar-box{
  display:flex;
  flex-direction:row;
  align-items:center;
  background: #5f3a97;
  height: 80px;
  width: 100%;
  justify-content:space-between;
}

.headerbuttons{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  padding:0 10 0 0;
}

.headerbuttons a{
  margin:3;
}

.buttons {
  margin:10;
  list-style-type:unset;
  font-size:17px;
  padding: 5px 8px 5px 8px; 
  text-decoration:unset;
  font-family:monospace;
  font-weight:100;
  background-color: #ae78ff6b;
  border:unset;
  border-radius: 10px;
}

.buttons {
  color:#e5734a;
}
.buttons:hover{
  background-color:#e48b7185;
}

ul {
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 0px;
  overflow: hidden;
  background-color: #7949c1;
  width:100%;
}

.bar li button {
  background-color: unset;
  border: unset;
  display: block;
  color: #ff734a;
  text-align: center;
  font-family:monospace;
  font-size:18;
  font-weight:100;
  padding: 6px 20px;
  text-decoration: none;
}

.bar li button:hover {
  cursor: pointer;
  background-color:#b088eb8a;
  transform: scale(1.1);
}

#img1 {
  position:relative;
  margin:unset;
  z-index: 1;
  width:219px;
  height:58;
}

#img2{
  z-index: 1;
  width:20px;
  height:20px;
  }
  
  .painel-principal{
    margin:40;
    font-family: monospace;
    margin-left:5%;
    margin-right:5%;
    height:fit-content;
    width:100%;
    z-index:0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }

.painel-principal h1{
  width:fit-content;
  font-size:35;
  font-weight:100;
  color:#5f3a97;
  margin:0 0 0 0;
}

.superior{
 
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
  align-items:center;
  margin-bottom:15px;
  background-color:white;
  border-radius:15px;
  width:fit-content;
  padding:25;
}

.inferior{
  border-top:3px solid #d9d9d9;
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
  align-items:center;
  background-color:white;
  width:fit-content;
  padding:15;
  
}

.inferior .title{
  border-bottom:2px solid;
  font-size:30px;
  font-weight:600;
}

.left{
  margin:10;
  padding:10;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  height:fit-content;
  border-bottom:3px solid #d9d9d9
}
.nome{
  text-transform:capitalize;
  color:#ff734a;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  font-size:30;
  margin-bottom:10;
  border-bottom:2px solid #ff734a;
}
.codigo{}

.img{
    width: 30vh;
    height: max-content;
}


.right{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;e>
  margin:10;
  padding:10;
  width:50%;
}
.preco{
  font-size:30px;
  font-family:sans-serif;
  font-weight:500;
  color:#ff734a;
}

title{
  font-size:20px;
  font-weight: 100;
  border-bottom: #5f3a97;
}

.inferior .title{
  color: #ff734a;
  font-size:25;
}
.descricao{
  margin:15;
}
