<!DOCTYPE html5>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='charmezin.css')}}">
        <title>
            LojaMaromba - Catalogo
        </title>
    </head>
    <body>
        <div class="cabecalho">
            <div class="bar-box">
                    <a href="{{url_for('home')}}"><img id="img1" src="{{url_for('static', filename='logo.jpg')}}" title="Clique para ir à página inicial"></a>
                        <div class="headerbuttons">
                            {% if login: %}
                                {% if admin: %}
                                    <a href="{{url_for('editarCatalogo')}}"class="buttons" id="bt5">Editar Catálogo</a>
                                    <form class="buttons" action="/duvidas" method="POST">
                                        <button name="opcao" value="ler">Duvidas</button>
                                    </form>
                                {% endif %}
                                <a href="{{url_for('sair')}}" class="buttons" id='bt6'>Sair</a>
                            {% else: %}
                                <a href="{{url_for('logar')}}" class="buttons" id="bt2">Entrar</a>
                                <a href="{{url_for('cadastrar')}}" class="buttons" id="bt1">Cadastre-se</a>
                            {% endif %}
                        </div>
            </div>  
            <div class="bar">
                        <form action="/categoria" method="POST">
                            <ul>
                                <li>
                                    <button class="botao-categorias" name="botao-categorias" type="submit" value="OLEOSESSENCIAIS">
                                    Óleos Essenciais</button>
                                </li>
                                <li><button class="botao-categorias" name="botao-categorias" type="submit" value="WHEYPROTEIN">Whey Protein</button></li>
        
                                <li><button class="botao-categorias" name="botao-categorias" type="submit" value="VITAMINAS">Vitaminas</button></li>
        
                                <li><button class="botao-categorias" name="botao-categorias" type="submit" value="PROTEINAS">Proteínas</button></li>
        
                                <li><button class="botao-categorias" name="botao-categorias" type="submit" value="HIPERCALORICOS">Hipercalóricos</button></li>
        
                                <li><button class="botao-categorias" name="botao-categorias" type="submit" value="TERMOGENICOS">Termogênicos</button></li>
        
                                <li><button class="botao-categorias" name="botao-categorias" type="submit" value="PRETREINOS">Pré-treino</button></li>
                            </ul>
                        </form>
            </div>
        </div>
        <div class="painel-principal">
            <h1>{{categ}}</h1>
            <div class="itemsplano">
                {% for x in cat: %}
                <div class="itemcard" title="Clique para ir à página do produto">
                        <form class='itemsform' action="/item" method='POST'>
                            <button class='itemsbt' name='codigo' value='{{x[0]}}' type='submit'>
                                <div class="nome">{{x[1]}}</div>
                                {% if admin: %}
                                    <div class="codigo">{{x[0]}}</div>
                                {% endif %}
                                <img src="{{x[3]}}" alt="">
                                <div class="preco">R$ {{x[2]}}</div>
                            </button>
                        </form>
                        {% if admin: %}
                                    <div class="adminview" title="Remover item">
                                        <form action="/editar/remitem" method='POST'>
                                            <button id="removeritem" name='codigo' value='{{x[0]}}'' type='submit'>
                                                X
                                            </button>
                                        </form>
                                    </div>
                                {% endif %}
                    </div>            
                    {% endfor %}
            </div>
        </div>
        <div id="rodape">
                <div class="esquerda">
                     <div class="contatorodape">Contato: 2025-2323</div> 
                 <div class="emailrodape">Email: mktbom@gmail.com</div>
                </div>    
                <div class="meio">
                     <div class="nomerodape">&copy;D-Vitaminas</div>
                     <div class="enderecorodape">Endereço: Av. da Américas, 19.019 - Recreio dos bandeirantes, Loja 205j </div>
                     <div class="cnpjrodape" >CNPJ : 12.071.622/0001-90</div>
                </div>
                <div class="direita">
                    <div class="subir" onclick="window.scrollTo(0,0);">^</div>
                </div>
        </div>       
    </body>
</html>