<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pagduvidas.css')}}">
        <title>Loja Maromba - Envie sua duvida</title>

    </head>
    <body>
        <div class="cabecalho">
            <div class="bar-box">
                    <a href="{{url_for('home')}}"><img id="img1" src="{{url_for('static', filename='logo.jpg')}}" title="Clique para ir à página inicial"></a>
                        <div class="headerbuttons">
                            {% if login: %}
                                {% if admin: %}
                                    <a href="{{url_for('editarCatalogo')}}"class="buttons" id="bt5">Editar Catálogo</a>
                                    <form class="buttons" action="/duvidas" method="POST">
                                        <button name="opcao" value="ler">Duvidas</button>
                                    </form>
                                {% endif %}
                                <a href="{{url_for('sair')}}" class="buttons" id='bt6'>Sair</a>
                            {% else: %}
                                <a href="{{url_for('logar')}}" class="buttons" id="bt2">Entrar</a>
                                <a href="{{url_for('cadastrar')}}" class="buttons" id="bt1">Cadastre-se</a>
                            {% endif %}
                        </div>
            </div> 
            <div class="bar">
                        <form action="/categoria" method="POST">
                            <ul>
                                <li>
                                    <button class="botao-categorias" name="botao-categorias" type="submit" value="OLEOSESSENCIAIS">
                                    Óleos Essenciais</button>
                                </li>
                                <li><button class="botao-categorias" name="botao-categorias" type="submit" value="WHEYPROTEIN">Whey Protein</button></li>
        
                                <li><button class="botao-categorias" name="botao-categorias" type="submit" value="VITAMINAS">Vitaminas</button></li>
        
                                <li><button class="botao-categorias" name="botao-categorias" type="submit" value="PROTEINAS">Proteínas</button></li>
        
                                <li><button class="botao-categorias" name="botao-categorias" type="submit" value="HIPERCALORICOS">Hipercalóricos</button></li>
        
                                <li><button class="botao-categorias" name="botao-categorias" type="submit" value="TERMOGENICOS">Termogênicos</button></li>
        
                                <li><button class="botao-categorias" name="botao-categorias" type="submit" value="PRETREINOS">Pré-treino</button></li>
                            </ul>
                        </form>
            </div>
        </div>
        <div class="corpo">
            {% if not admin: %}
            <form class="painelduvida" action="/duvidas" method="POST">
                    <h1>Envie sua duvida</h1>
                    <div class="cima">
                            <div class="esquerda">
                                    <div class="codigo" name="codigo" value="{{item[0]}}">{{item[0]}}</div>
                                    <img src="{{item[4]}}" alt="">
                            </div>
                            <div class="direita">
                                {% if not login: %}
                                    <input type="text" placeholder="Nome" name="nome">
                                    <input type="text" placeholder="Email" name="email">
                                {% endif %}
                                <input type="text" placeholder="Escreve aqui sua dúvida" name="duvida">
                            </div>
                    </div>
                    <div class="baixo">
                            {% with flashes = get_flashed_messages() %}
                            {% if flashes: %}
                                <div class="flashdiv" id="flashlog">
                                    {% for x in flashes:%}
                                        <li>{{ x }}</li>
                                    {% endfor %}
                                </div>
                                <br>
                            {% endif %}
                        {% endwith %}
                        <button class="buttons" name="opcao" value="enviar:{{item[0]}}" type="submit">Enviar</button>
                    </div>
            </form>
            {% else: %}
                    {% if acao == "ler": %}
                        {% for x in duvidas: %}
                            <form class="cardduvida" action="/duvidas" method="POST">
                                <div class="cima">
                                    <div class="esquerda">
                                        <div class="codigo">{{x[0]}}</div>
                                        <img src="{{x[4]}}" alt="">
                                    </div>
                                </div>
                                <div class="info">
                                    <div class="nome">{{x[1]}}</div>
                                    <div class="email" name="email" value="{{x[2]}}">{{x[2]}}</div>
                                    <div class="duvida">
                                        {{x[3]}}
                                    </div>
                                </div>
                                <div class="baixo">
                                    <button class="buttons" name="opcao" value="responder:{{x[0]}}:{{x[1]}}:{{x[2]}}" type="submit">Responder</button>
                                </div>

                            </form>
                        {% endfor %}
                    {% elif acao == "responder" %}
                            <form class="painelduvida" action="/duvidas/responder" method="POST">
                                <div class="cima">
                                        <div class="esquerda">
                                            <div class="codigo">{{x[1]}}</div>
                                            <img src="{{x[4]}}" alt="">
                                        </div>
                                        <div class="direita">
                                            <div class="nome">{{x[2]}}</div>
                                            <div class="email">{{x[3]}}</div>
                                        </div>
                                </div>
                                <div class="baixo">
                                    <input type="text" name="resposta" placeholder="Responda aqui !">
                                    <button class="buttons" name="opcao" value="enviar:{{x[1]}}:{{x[2]}}:{{x[3]}}" type="submit">Enviar</button>
                                </div>
                            </form>
                    {% endif %}
                
            {% endif %}
        </div>
        <div id="rodape">
            <div class="esquerda">
                 <div class="contatorodape">Contato: 2025-2323</div> 
             <div class="emailrodape">Email: mktbom@gmail.com</div>
            </div>    
            <div class="meio">
                 <div class="nomerodape">&copy;D-Vitaminas</div>
                 <div class="enderecorodape">Endereço: Av. da Américas, 19.019 - Recreio dos bandeirantes, Loja 205j </div>
                 <div class="cnpjrodape" >CNPJ : 12.071.622/0001-90</div>
            </div>
            <div class="direita">
                <div class="subir" onclick="window.scrollTo(0,0);">^</div>
            </div>
        </div>  
    </body>
</html>