<!DOCTYPE html5>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='charmezin.css')}}">
        <title>
            Bem-Vindo meu esforçado !
        </title>
    </head>
        <body>
            <img src="{{end}}">
            <header id="butoes">
                <span>
                {% if login: %}
                    {% if admin: %}
                        <a href="{{url_for('editar_catalogo')}}">
                            <button id="btn5">Editar Catálogo</button>
                        </a>
                    {% endif %}
                    <a href="{{url_fro('carrinho')}}">
                        <button id="btn4">**IMAGEM DE CARRINHO AQUI**</button>
                    </a>
                    <a href="{{url_for('minha-conta')}}">
                        <button id="btn3">Minha Conta</button>
                    </a>
                {% else: %}
                    <a href="{{url_for('logar')}}">
                        <button id="btn2">Entrar</button>
                    </a>
                    <a href="{{url_for('cadastrar')}}">
                        <button id="btn1">Cadastre-se</button>
                    </a>
                {% endif %}
                </span>
            </header> 
            {% for x in range(0,100): %}
                <br>
            {% endfor %}
        </body>
</html>