<!DOCTYPE html5>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='charmezin.css')}}">
        <title>
            Bem-Vindo meu esforçado !
        </title>
    </head>
        <body>
            <img src="{{url_for('static', filename='logo.png')}}">
            <header id="butoes">
                <span>
                {% if login: %}
                    <class id="btn4">\
                        <a href="{{url_for('carrinho')}}">
                            <button id="bt4">**IMAGEM DE CARRINHO AQUI**</button>
                        </a>
                    </class> 
                    <class id="btn3">
                        <a href="{{url_for('minha-conta')}}">
                            <button id="bt3">Minha Conta</button>
                        </a>
                    </class>
                {% else: %}
                    <class id="btn2">
                        <a href="{{url_for('logar')}}">
                            <button id="bt2">Entrar</button>
                        </a>
                    </class>
                    <class id="btn1">
                        <a href="{{url_for('cadastrar')}}">
                            <button id="bt1">Cadastre-se</button>
                        </a>
                    </class>
                {% endif %}
                </span>
            </header> 
            {% for x in range(0,100): %}
                <br>
            {% endfor %}
        </body>
</html>