<!DOCTYPE html5>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='charmezin.css')}}">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <title>
            Bem-Vindo meu esforçado !
        </title>

    </head>
        <body>
            <div class="bar-box">
                <a href="{{url_for('home')}}"><img id="img1" src="{{url_for('static', filename='logo.jpg')}}"></a>
                    <div class="headerbuttons">
                        {% if login: %}
                            {% if admin: %}
                                <a href="{{url_for('editarCatalogo')}}"class="buttons" id="bt5">Editar Catálogo</a>
                            {% endif %}
                            <a href="{{url_for('carrinho')}}"class="buttons" id="bt4"><img id="img2" src="{{url_for('static', filename='carrinho.png')}}"></a>
                            <a href="{{url_for('minhaConta')}}" class="buttons" id="bt3">Minha Conta</a>
                            <a href="{{url_for('sair')}}" class="buttons" id='bt6'>Sair</a>
                        {% else: %}
                            <a href="{{url_for('logar')}}" class="buttons" id="bt2">Entrar</a>
                            <a href="{{url_for('cadastrar')}}" class="buttons" id="bt1">Cadastre-se</a>
                        {% endif %}
                    </div>
            </div> 
            <div class="bar">
                <form action="/categoria" method="POST">
                    <ul>
                        <li>
                            <button class="botao-categorias" name="botao-categorias" type="submit" value="OLEOSESSENCIAIS">
                            Óleos Essenciais</button>
                        </li>
                        <li><button class="botao-categorias" name="botao-categorias" type="submit" value="WHEYPROTEIN">Whey Protein</button></li>

                        <li><button class="botao-categorias" name="botao-categorias" type="submit" value="VITAMINAS">Vitaminas</button></li>

                        <li><button class="botao-categorias" name="botao-categorias" type="submit" value="PROTEINAS">Proteínas</button></li>

                        <li><button class="botao-categorias" name="botao-categorias" type="submit" value="HIPERCALORICOS">Hipercalóricos</button></li>

                        <li><button class="botao-categorias" name="botao-categorias" type="submit" value="TERMOGENICOS">Termogênicos</button></li>

                        <li><button class="botao-categorias" name="botao-categorias" type="submit" value="PRETREINOS">Pré-treino</button></li>
                    </ul>
                </form>
            </div>
            <div class="painel-principal">
                <div class="promocoes">
                    <h1>PROMOÇÕES</h1>
                    <div class="itemsplano">
                    {% for x in promo_itens %}
                    <!-- promo_itens = [codigo, preco_antigo, nome, preco_novo, img] -->
                    <div class="itemcard">
                        <div class="nome">{{x[2]}}</div>
                        <div class="codigo">{{x[0]}}</div>
                        <img src="{{x[4]}}" alt="">
                        <div class="preco_antigo">R$ {{x[1]}}</div>
                        <div class="preco">R$ {{x[3]}}</div>
                    </div>
                    {% endfor %}
                    {% if admin: %}
                    <div class="addpromobt">
                        <a href="{{url_for('add_promo')}}">+</a>
                    </div>
                    {% endif %}
                </div>
                </div>
                <div class="recentes">
                    <h1>Novos</h1>
                    <div class="itemsplano">
                    {% for x in novos_itens %}
                     <!-- novos_itens = [codigo, nome, preco, img] -->
                    <div class="itemcard">
                        <div class="nome">{{x[1]}}</div>
                        {%if admin: %}
                        <div class="codigo">{{x[0]}}</div>
                        {% endif %}
                        <img src="{{x[3]}}" alt="">
                        <div class="preco">R$ {{x[2]}}</div>
                        <div class="add-carrinho">+</div>
                    </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </body>
</html>