<html>
    <div class="itemcard">
        <form class='itemsbt' action="/item" method='POST'>
            <button class='itemsbt' name='codigo' value='{{x[0]}}' type='submit'>
                <div class="nome">{{x[2]}}</div>
                {% if admin: %}
                    <div class="codigo">{{x[0]}}</div>
                {% endif %}
                <img src="{{x[4]}}" alt="">
                <div class="preco_antigo">R$ {{x[1]}}</div>
                <div class="preco">R$ {{X[3]}}</div>
            </button>
        </form>
        {% if admin: %}
            <div class="adminview">
                <form action="/editar/rempromo">
                    <button id="removeritem" name='codigo' value="{{x[0]}}" type='submit'>
                        X
                    </button>
                </form>
            </div>
        {% endif %}
    </div>
</html>